@model IEnumerable<AcademyManager.ViewModels.TraineesVM>

@{
    ViewData["Title"] = "AssignTraineeSerial";
}
    <div class="container-fluid">
        <h1>Assign Trainee Serial Number</h1>
        <div class="card">
            <div class="card-body">
                <table id="tblList" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TraineeId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TraineeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MiddleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>

                                <td>
                                    <a asp-action="GenerateSerial" asp-route-Id="@item.Id" class="btn btn-primary">Generate Serial</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn bg-gradient-indigo" asp-controller="AdminPortal" asp-action="Index">Back to Admin Portal</a>
            </div>
        </div>
    </div>
