@model IEnumerable<AcademyManager.ViewModels.CourseVM>
@inject UserManager<AMUser> userManager
@{
    ViewData["Title"] = "Index";
}

    <div class="container-fluid">
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table id="tblList" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th>
                        Course Facilitator
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var user = userManager.FindByIdAsync(item.FacilitatorId).Result;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        @if (item.FacilitatorId != null)
                        {
                            <td>
                                @user.FirstName @user.LastName @user.MiddleName
                            </td>
                        }
                        else
                        {
                            <td>
                            </td>
                        }
                        <td>
                            <a asp-action="EditCourse" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
