@model IEnumerable<AcademyManager.ViewModels.TestAndExamVM>
@{ 
    ViewData["Title"] = "ViewCourseTestsAndExams";
}
<div class="container-fluid">
    <h1>View Course Tests and Exams</h1>

    <table id="tblList" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TestOrExamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestOrExamName)
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a class="btn bg-gradient-maroon" asp-action="ListTraineesForTest" asp-route-testOrExamId="@item.Id">
                            <i class="fas fa-edit"></i>Edit Scores
                        </a>
                        <a class="btn btn-info" asp-action="EditTestsOrExam" asp-route-testOrExamId="@item.Id">
                        <i class="fas fa-pen-alt"></i>
                            Edit Test or Exam
                        </a>
                        <a class="btn btn-secondary" asp-action="ViewTraineesScores" asp-route-testOrExamId="@item.Id">
                            <i class="fas fa-info-circle"></i>
                            View Trainees Scores
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
